.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
  }
}

.Spinner{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(8px + 2vmin);
  color: #576675;
}

.App-link {
  color: #61dafb;
}

p.smaller {
  font-size:small;
}

p.medium {
  font-size: larger;
}

p.label {
  font-size: medium;
}